py-cord
python-dotenv
jishaku
discord-py-slash-command
psutil
asyncpg
DiscordUtils
pytest
aiosqlite_pool.zip
time-str
url-parser
humanize
Pillow
dislash.py
git+https://github.com/Rapptz/discord-ext-menus
git+https://github.com/BobDotCom/sr_api
